body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    background-color: black;
    padding-bottom: 64px;
}

.container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 140px;
    padding: 16px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    margin-right: 164px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0 140px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
} 

#jupiter {
    width: 350px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.hero-button {
    width: 100px;
    padding: 8px;
    background-color: aqua;
    border-style: none;
    border-radius: 5px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 32px;
}

.info-title {
    text-align: center;
}

.info {
    max-width: 200px;
}

.box {
    border-radius: 25px;
    border-color: #1F2937;
    border-style: solid;
    width: 200px;
    height: 200px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 48px 300px;
}
.quote {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
    padding: 0;
    margin: 32;
    
}
.quote-source {
    font-weight: bolder;
    font-size: 32px;
    color: #1F2937;
    text-align: right;
    margin: 0;
    padding: 0;
}

.call-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 32px;
    color: white;
}

.call-button {
    width: 100px;
    height: 40px;
    padding: 0px 4px;
    border-style: solid;
    border-color: white;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.footer {
    padding: 32px;
    background-color: black;
    color: #E5E7EB;
    text-align: center;
}